@charset "ISO-8859-1";

.container {
	width: 80%;
	box-shadow: 0 10px 25px rgb(0 0 0/ 5%), 0 20px 48px rgb(0 0 0/ 5%), 0
		1px 4px rgb(0 0 0/ 10%);
	margin-bottom: 100px;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 1em;
	display: block;
}

.video-capture-container {
	background-color: black;
	margin: 50px auto;
	width: 320px;
	height: 320px;
}

#showStreamBttn {
	display: block;
	margin: 0 auto;
}