@charset "ISO-8859-1";

@media screen and (max-width: 450px) {
	.video-capture-container, .video-capture {
		width: 200px !important;
		height: 200px !important;
	}
	
	#locationsContainer {
		margin: 0 !important;
	}
	
}

.container {
	width: 80%;
	box-shadow: 0 10px 25px rgb(0 0 0/ 5%), 0 20px 48px rgb(0 0 0/ 5%), 0
		1px 4px rgb(0 0 0/ 10%);
	margin-bottom: 100px;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 1em;
	display: block;
}

/*check-in.jsp*/
.video-capture-container {
	display: none;
	background-color: black;
	margin: 50px auto;
	width: 320px;
	height: 320px;
}

#showStreamBttn {
	display: block;
	margin: 0 auto;
}

.check-in-out-button-container {
	margin: 10px 0px;
	text-align: center;
}

#showMoreButton {
	display: flex;
	margin: 20px auto;
}

.manual-check-in-container {
	margin-top: 30px;
}

.manual-check-in-container h5 {
	text-align: center;
}

#locations {
	width: 100%;
	padding-left: 0;
}

#locationList {
	width: 100%;
	display: block;
	max-height: 200px;
}

#locationsContainer {
	margin: 0 30px;
}

.fa-door-open {
	float: right;
	color: #7e57c2;
}

/*view-qr-code.jsp*/

.qr-code-image {
	display: block;
	margin: 0 auto;
	min-width: 300px;
}

#downloadContainer {
	display: block;
	margin: 30px auto;
	font-size: 4em;
	text-align: center;
}

.title {
	font-weight: bolder;
	text-transform: uppercase;
	text-align:center;
	margin-bottom: 20px;
}

#locationSearchBar {
	display: inline;
}

#locationSearchBar:focus, #locationSearchBar:hover {   
  	outline: 0 none;
  	box-shadow: none;
  	border-color: #7e57c2;
}
