@charset "ISO-8859-1";

@font-face {
	font-family: Quicksand;
	src: url("/assets/fonts/Quicksand.ttf");
}

@font-face {
	font-family: Raleway;
	src: url("/assets/fonts/Raleway.ttf");
}

@media screen and (max-width: 991.3px) {
	.navbar {
		margin-left: 20px !important;
		width: 45%;
	}
	
	#logo{
		right: -20px !important;
	}
	
	.ml-auto {
		margin-left: 0px !important;
	}
}

body {
	padding: 140px 0px;
	position: relative;
	min-height: 100vh;
	font-family: 'Raleway', Helvetica, Arial, Lucida, sans-serif;
	word-break: break-word;
	background-color: #f0edf5;
	overflow: auto;
}

.navbar {
	margin-left: 20vw;
	text-transform: uppercase;
	padding: 20px 10px;
	transition: padding .2s linear;
	z-index: 100;
}

.navbar-nav {
	width: 100%;
}

.navbar-toggler-icon {
	height: 30px;
}

.clickable {
	cursor: pointer;
}

#logo {
	height: 76px;
	display: inline-block;
	position: absolute;
	margin: 40px;
	z-index: 100;
	transition: all .2s linear;
}

#logo img {
	max-height: 100%;
	background-color: white;
}

.header {
	max-height: 100%;
	background-color: white;
	transition: 0.4s;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 2;
	border-bottom-style: solid;
	border-bottom-color: rgba(0, 0, 0, 0.1);
	border-bottom-width: thin;
}

.header-top {
	display: block;
	height: 38px;
	width: 100%;
	background-color: #7e57c2;
	width: 100%;
	font-size: 15px;
	font-weight: 600;
	text-transform: none;
}

.nav-link {
	margin: 0px 10px;
	color: #696969;
}

.nav-link:hover {
	color: #333333;
}

.dropdown-item:active {
	background-color: #7e57c2;
}

.dropdown-menu {
	border-radius: 10px;
}

.btn-outline-primary, .btn-outline-primary:disabled {
	color: #7e57c2;
	border-color: #7e57c2;
}

.btn-outline-primary:hover:not([disabled]), .btn-outline-primary:active, .btn-outline-primary:active:focus, .btn-outline-primary:focus {
	color: #fff;
	background-color: #7e57c2 !important;
	border-color: #7e57c2 !important;
	font-weight: bold;
}

.btn-outline-primary:active:focus, .btn-outline-primary:focus {
	box-shadow: 0 0 0 0.2rem rgba(126, 87, 194, 0.5) !important;
}

.hide {
	display: none;
}

h4,h5 {
	text-align: center;
}

a:hover {
	font-weight: bold;
	text-decoration: none;
	color: #7e57c2;
}

a, h2, h3 {
    color : #7e57c2;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
    background-color: #7e57c2;
    color: #fff;
	padding: 25px 12px;
}

#changePasswordContainer {
	display: block;
}

.loader {
	vertical-align: middle;
	border: .20em solid #7e57c2;
	border-right-color: transparent;
	-webkit-animation: spinner-border 1s linear infinite;
	animation: spinner-border 1s linear infinite;
}

.error-color, .error-color:hover, .error-color:focus {
	box-shadow: none;
	border-color: #b71c1c;
}

@media screen and (max-width: 760px) {
	#creators{
		display: none;
	}
}

#information{
      color: #fff! important;
}

#information:visited {
	color: #fff;
	font-weight: bold;
}

#notification-bell {
	margin-right: 30px;
	font-size: 25px;
	color: #5698fc;
}

.chat-button {
	font-size: 25px;
	margin-right: 20px;
	color: rgba(0,0,0,.7);
}

.chat-button:hover {
	color: rgba(0,0,0,.7);
}