@charset "ISO-8859-1";

@font-face {
	font-family: Quicksand;
	src: url("/assets/fonts/Quicksand.ttf");
}

@font-face {
	font-family: Raleway;
	src: url("/assets/fonts/Raleway.ttf");
}

@media screen and (max-width: 980px) {
	.navbar {
		margin-left: 75vw !important;
	}
	#loginButton {
		margin-left: 0px !important;
	}
}

body {
	padding: 130px 0px;
	position: relative;
	min-height: 100vh;
	font-family: 'Raleway', Helvetica, Arial, Lucida, sans-serif;
	word-break: break-word;
	background-color: #f0edf5;
	overflow: auto;
}

.navbar {
	margin-left: 30vw;
	text-transform: uppercase;
	padding: 20px 10px;
	transition: padding .2s linear;
	z-index: 100;
}

.clickable {
	cursor: pointer;
}

#loginButton {
	margin-left: 25vw;
}

#logo {
	height: 78px;
	display: inline-block;
	position: fixed;
	margin: 40px 100px;
	z-index: 100;
	transition: all .2s linear;
}

#logo img {
	max-height: 100%;
	background-color: white;
}

.header {
	max-height: 100%;
	background-color: white;
	transition: 0.4s;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 2;
	border-bottom-style: solid;
	border-bottom-color: rgba(0, 0, 0, 0.1);
	border-bottom-width: thin;
}

.header-top {
	display: block;
	height: 38px;
	width: 100%;
	background-color: #7e57c2;
	width: 100%;
	font-size: 15px;
	font-weight: 600;
	text-transform: none;
}

.nav-link {
	margin: 0px 10px;
	color: #696969;
}

.nav-link:hover {
	color: #333333;
}


.btn-outline-primary {
	color: #7e57c2;
	border-color: #7e57c2;
}

.btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:active:focus, .btn-outline-primary:focus {
	color: #fff;
	background-color: #7e57c2 !important;
	border-color: #7e57c2 !important;
	font-weight: bold;
}

.btn-outline-primary:active:focus, .btn-outline-primary:focus {
	box-shadow: 0 0 0 0.2rem rgba(126, 87, 194, 0.5) !important;
}

.hide {
	display: none;
}

h4,h5 {
	text-align: center;
}

a:hover {
	font-weight: bold;
	text-decoration: none;
	color: #7e57c2;
}

a, h2, h3 {
    color : #7e57c2;
}

footer {
	position: absolute;
	width: 100%;
    background-color: #7e57c2;
    color: #fff;
    bottom: 0;
	padding: 50px 20px;
}

#changePasswordContainer {
	display: block;
}