@charset "ISO-8859-1";

@font-face {
	font-family: Raleway;
	src: url("/assets/fonts/Raleway.ttf");
}

@media screen and (max-width:500px) {
	.navbar {
		margin-left: 75vw !important;
	}
}

body {
	font-family: 'Raleway', Helvetica, Arial, Lucida, sans-serif;
}

.navbar {
	margin-left: 40vw;
	text-transform: uppercase;
	padding: 20px 10px;
	transition: padding .2s linear;
	z-index: 100;
}

#logo {
	height: 78px;
	display: inline-block;
	position: fixed;
	margin: 40px 60px;
	z-index: 100;
	transition: all .2s linear;
}

#logo img {
	max-height: 100%;
	background-color: white;
}

.header {
	max-height: 100%;
	background-color: white;
	transition: 0.4s;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 2;
	border-bottom-style: solid;
	border-bottom-color: rgba(0, 0, 0, 0.1);
	border-bottom-width: thin;
}

.header-top {
	display: block;
	height: 38px;
	width: 100%;
	background-color: #7e57c2;
	width: 100%;
	font-size: 15px;
	font-weight: 600;
	text-transform: none;
}

a:hover {
	text-decoration: none;
}

.nav-link {
	margin: 0px 10px;
	color: #696969;
}

.nav-link:hover {
	color: #333333;
}