@media screen and (max-width: 991px) {	
	.content {
	padding-right: 12px !important;
	padding-left: 12px !important; 
	}
	
	.table {
		max-height: 600px !important;
	}
	
	#mainTable {
		flex-direction:column-reverse;
	}
}

h1 {
	font-size:1.6em;
}

h2 {
	font-size:1.2em;
}

.content {
	padding-right: 30px;
	padding-left: 30px; 
}

#profile-data-group {
	line-height:0.5;	
}


#tableCol {
	overflow: auto;
}

.v-header {
	width: 100px !important;
}

#week-calendar {
	table-layout:fixed;
	min-width: 1000px;
}

#modPP-icon {
	cursor:pointer;
	vertical-align: top;
 	margin: 18px 0px 0px 0px;
}

#profile-picture {
	width: 180px;
	height: 180px;
	object-fit: cover;
	margin: 15px auto 0px auto;
	border: 2px outset #7e57c2;
	box-shadow: 0 10px 25px rgb(126 87 194 / 5%), 0 20px 48px rgb(126 87 194 / 5%), 0 1px 4px rgb(126 87 194 / 10%);	
}

.card {
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 1em;
	box-shadow: 0 10px 25px rgb(0 0 0 / 5%), 0 20px 48px rgb(0 0 0 / 5%), 0 1px 4px rgb(0 0 0 / 10%);
}

.card-text {
	font-weight: bold;
}

.fa-pen {
	color: #0d6efd;
}

.card-text span {
	text-align: center;
}

#booked-tab {
	padding: 20px;
	border: 1px solid rgba(255, 255, 255, 0.6);
	border-radius: 1em;
	box-shadow: 0 10px 25px rgb(0 0 0 / 5%), 0 20px 48px rgb(0 0 0 / 5%), 0 1px 4px rgb(0 0 0 / 10%);
	background-color: #fff;
	background-clip: border-box;
	
}

#check-in-out {
	margin-bottom: 0;
	margin-top: auto;
}

span {
	font-weight: normal;
}

#d-placeholder {
	font-weight: normal;
	font-style: italic;
}

#modDescription {
	cursor: pointer;
}

#password-confirmMod, #password-abortMod {
	margin: 10px 10px 10px 0px;
}

#password-abortMod {
	float: right;
}

.form-control {
	border-radius: 1em;
}

.form-control:hover, .form-control:focus {
	box-shadow: none;
	border-color: #7e57c2;
}

#see-current-password, #see-new-password, #see-new-password-confirm {
	color: #7e57c2;
	position: absolute;
	right: 10px;
	top:12px
}

#card-container {
	margin-top: 10px;
}

.center {
	margin-right: auto;
	margin-left: auto;
}