h1 {
	font-size:1.6em;
}

h2 {
	font-size:1.2em;
}

#profile-data-group {
	line-height:0.5;	
}

#profile-picture {
	width:75px;
}

.card-text {
	font-weight: bold;
}

span {
	font-weight: normal;
}

.fa-pen {
	float:right;
}

label {
	font-weight: normal;
	font-style: italic;
}

#modDescription {
	cursor: pointer;
}