.course, .location, .student {
	margin-top: 10px;
}

.icons .remove-button, .forced-checked-out{
	color: tomato;
}

.icons .modify-button {
	color: #0d6efd;
}

.professor-name, .location-capacity, .other-student-info {
	font-style: italic;
	color: grey;
}

.course-name, .location-name, .student-name {
	font-weight: bold;
}

#label {
	display:  block;
	font-size: 30px;
	color: #7e57c2;
}

#search-icon {
	color: #7e57c2;
	margin-left: 8px;
}


#searchBar {
	display: inline;
	border-radius: 1em;
	margin-bottom: 10px;
}

#searchBar:focus, #searchBar:hover {   
  	outline: 0 none;
  	box-shadow: none;
  	border-color: #7e57c2;
}

#addButton {
	margin-left: auto;
	margin-right: 10px;
	margin-bottom: 50px;
}

#showMoreButton{
	margin:10px 0px;
}

#sortInput:focus, #typeInput:focus {
	border-color: #7e57c2;
  	box-shadow: 0 1px 1px rgba(126, 87, 194, 0.075) inset, 0 0 8px rgba(126, 87, 194, 0.6);
  	outline: 0 none;
}

#sortInput, #typeInput {
	margin: 5px 0px;
}

#student-checked-in {
	margin-bottom: 15px;
}

@media screen and (max-width: 760px) {
	#student-checked-in {
		margin-bottom: 0px;
	}
}

#sendMessageToProf {
	background: url("../assets/images/messageIcon.png");
	height: 22px;
	width: 23px;
	border: none;
}

#sendMessageToProf:focus-visible, #sendMessageToProf:focus {
	outline: none;
}

#buttonSendMessContainer {
	display: inline-block;
	margin-right: 20px;
}