.card {
	position: relative;
	border: 2px solid #7e57c2;
	margin: 10px 0px;
	background-color: rgba(255,255,255,0.4);
	border-radius: 1em;
	box-shadow: 0 10px 25px rgb(0 0 0 / 5%), 0 20px 48px rgb(0 0 0 / 5%), 0 1px 4px rgb(0 0 0 / 10%);
}

.card-img-top {
	width: 180px;
	height: 180px;
	object-fit: cover;
	margin: 15px auto 0px auto;
	border: 2px outset #7e57c2;
	box-shadow: 0 10px 25px rgb(126 87 194 / 5%), 0 20px 48px rgb(126 87 194 / 5%), 0 1px 4px rgb(126 87 194 / 10%);	
}

.card-text {
	text-align: center;
}

.icons {
	margin-top:auto; 
}